@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1e1e1e;
  color: white;
}

h1{
  font-size: 40px;
  margin-bottom: 20px;
}

.main {
  padding: 5%;
  max-width: 900px;
  margin: auto;
}

p {
  padding-bottom: 10px;
}
